@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Add Expense</h2>

<form method="post">
    <input name="Description" placeholder="Description" /><br />
    <input name="Amount" placeholder="Amount" /><br />
    <button type="submit">Save</button>
</form>