@model List<Ewp.Models.TaskItem>

<h2>Task Report</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <th>Status</th>
    </tr>

    @foreach (var t in Model)
    {
        <tr>
            <td>@t.Title</td>
            <td>@t.Status</td>
        </tr>
    }
</table>