<h2>Add Employee</h2>

<form method="post">
    <input type="text" name="Name" placeholder="Name" /><br />
    <input type="text" name="Email" placeholder="Email" /><br />
    <input type="text" name="Role" placeholder="Role" /><br />
    <button type="submit">Save</button>
</form>