@model Ewp.Models.Employee

<h2>Edit Employee</h2>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <input type="text" name="Name" value="@Model.Name" /><br />
    <input type="text" name="Email" value="@Model.Email" /><br />
    <input type="text" name="Role" value="@Model.Role" /><br />

    <button type="submit">Update</button>
</form>