@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Ewp.Models.Query

<h2>Reply to Query</h2>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <p><b>Subject:</b> @Model.Subject</p>
    <p><b>Message:</b> @Model.Message</p>

    <textarea asp-for="Reply" class="form-control" placeholder="Write reply"></textarea>
    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>