@{
    Layout = null;
}

<h3>Forgot Password</h3>

<form method="post">

    <input name="email" class="form-control" placeholder="Enter email" />

    <button class="btn btn-primary mt-2">

        Send Reset Link

    </button>

    @if (ViewBag.Message != null)
    {
        <div class="text-success">@ViewBag.Message</div>
    }

</form>